* {
  box-sizing: border-box;
}

body {
  font-family: "Karla";
  margin: 0;
  background-color: #0B2434;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 100vh;
  padding: 30px;
}

#root {
  height: 100%;
}

.App {
  background-color: #F5F5F5;
  border-radius: 5px;
  height: 100%;
  min-height: 400px;
  min-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
  max-width: 300px;
}

.dice-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
  padding: 25px 0;
}

.die {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  height: 40px;
  width: 40px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px 0 rgb(0, 0, 0, 0.15);
  cursor: pointer;
}

.dice-roll {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 17px;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0 rgb(0, 0, 0, 0.15);
  background-color: #5035FF;
  cursor: pointer;
}
